root {
  --dracula-purple: #bd93f9;
  --dracula-pink: #ff79c6;
  --dracula-cyan: #8be9fd;
}

body {
  background-color: #282a36;
  color: #f8f8f2;
}

.container {
    max-width: 1024px;
    margin: 40px auto;
}

.livros {
  display: block;
  margin: 40px;
  max-width: 680px;
}

.livro {
  padding: 0 40px;
}

.livro p {
  margin-left: 1rem;
  display:block;
  padding: 0 30px;
  text-align: justify;
}