/* CSS Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul, ol { list-style: none; }
a { text-decoration: none; color: inherit; }
img { max-width: 100%; display: block; }

/* Custom Styles */
root {
  --dracula-purple: #bd93f9;
  --dracula-pink: #ff79c6;
  --dracula-cyan: #8be9fd;
}

body {
  background-color: #282a36;
  color: #f8f8f2;
}

.container {
    max-width: 600px;
    margin: 30px auto;
}

/* Header Styles */
header{
  h1{
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
  p {
    text-align: left;
    font-size: .9rem;
  }
  margin: 0px 40px 30px;
}

/* Main Content Styles */
main{
  section.content{
    margin-left: 0px;
    margin-bottom: 40px;
    background-color: #202335;
    padding: 20px;
    border-radius: 18px;
  }
  
  h2{
    margin-bottom: 20px;
  }
  .content{
    background-color: #202335;
    padding: 40px;
    border-radius: 18px;
  }
  .livros nav ul{
    margin: 10px 20px;
  }
  .content h3{
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .imgsection{
    max-width: 50px;
    height: auto;
  }
  .content img{
    max-width: 100px;
    margin: 20px auto 20px 10px;
    height: auto;
  }

}

article.livro{
  margin-bottom: 40px;
  background-color: #44475a;
  padding: 20px;
  border-radius: 16px;
  padding: 30px 40px;
}

article{
  
  img{
    margin-bottom: 20px;
  }
  p {
    font-size: .9rem;
    text-indent: 2rem;
    text-align: justify;
  }
}





a {
  color: var(--dracula-pink);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--dracula-cyan);
  text-decoration: underline;
  
}