root {
  --dracula-purple: #bd93f9;
  --dracula-pink: #ff79c6;
  --dracula-cyan: #8be9fd;
}

body {
  background-color: #282a36;
  color: #f8f8f2;
}

.container {
    max-width: 600px;
    margin: 40px auto;
}

img{
  max-width: 100px;
  height: auto;
 margin-left: 60px;
}

header {
 text-align: left;
 margin-left: 40px;
}

.listainterna{
  margin-left: 40px;
}

div.listainterna h4{
  padding-left: 10px;
}

.main{
  margin: 40px;
  max-width: 680px;
}

.section {
  display: block;

  padding: 0 40px;
  display:block;
  padding: 0 30px;
}

p {
  padding: 0 40px;
  text-indent: 2rem;
  margin-left: 1rem;
  text-align: justify;
}

ol, ul {
  margin-left: 1rem;
  display:block;
  text-align: justify;
}

h3, h4 {
  margin-left: 1rem;
}